// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

//colour variables
// @odi-color-one: Light blue
// @odi-color-two: yellow
// @odi-color-three: dark orange
// @odi-color-four: dark green
// @odi-color-five: purple
// @odi-color-six: dark blue
// @odi-color-seven: red
// @odi-color-eight: pink
// @odi-color-nine: magenta
// @odi-color-ten: light green

.b-10 {
    background: @odi-color-six;
}

.b-25 {
    background: @odi-color-two;
    .narrative-component .narrative-progress {
	    background-color: @odi-color-two;
		border: 1px solid white;
	}
	.narrative-component .narrative-progress.selected {
		background-color: white;
	}
	.narrative-component .narrative-controls {
		background-color: #6d6d6d;
	}
}
.b-28 {
	.accordion-component .accordion-item-title.visited,
	.accordion-component .accordion-item-title  {
		background-color: @odi-color-two;
	}
	.accordion-component .accordion-item-body {
		border-right: 1px solid @odi-color-two;
   		border-left: 1px solid @odi-color-two;
    	border-bottom: 1px solid @odi-color-two;
	}
}
.b-30 {
    background: @odi-color-two;
    .narrative-component .narrative-progress {
	    background-color: @odi-color-two;
		border: 1px solid white;
	}
	.narrative-component .narrative-progress.selected {
		background-color: white;
	}
	.narrative-component .narrative-controls {
		background-color: #6d6d6d;
	}
}

.b-35 {
    background: @odi-color-four;
}
.b-40, .b-50 {
	.mcq-component .mcq-item label {
		background-color: @odi-color-four;
	}
	.mcq-component .mcq-item label:hover {
		background-color: @odi-color-four;
	}
	.button {
		background-color: @odi-color-four;
	}
}
.b-45 {
    background: @odi-color-four;
}
.notify .notify-popup a {
    color:#fff;
    text-decoration: underline;
}
