// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

//colour variables
// @odi-color-one: Light blue
// @odi-color-two: yellow
// @odi-color-three: dark orange
// @odi-color-four: dark green
// @odi-color-five: purple
// @odi-color-six: dark blue
// @odi-color-seven: red
// @odi-color-eight: pink
// @odi-color-nine: magenta
// @odi-color-ten: light green

.b-10 {
    background:@odi-color-one;
}

.b-28 {
	.accordion-component .accordion-item-title {
    	background-color: @odi-color-three;
    }
}
.b-30, .b-31, .b-25 {
    background: @odi-color-three;
    .narrative-component .narrative-progress {
    	background-color: @odi-color-three;
    	border: 1px solid @odi-color-three;
    	&.selected {
    		background-color: white;
    		border: 1px solid white;
    	}
    }
}
.b-35, .b-45 {
    background: @odi-color-six;
}
.b-40, .b-50 {
    .button {
    	background-color: @odi-color-six;
    }
}
.notify .notify-popup a {
    color:#fff;
    text-decoration: underline;
}
