{{! Maintainers - Dave Tarrant}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
<div class="navigation-inner clearfix">
    <div id="odiLearning">
	<span class="learningTop"></span>
    </div>
    <div class="save-section-outer">
    <section id="save-section" class="save-section"></section>
    </div>
    <a href="#" class="navigation-drawer-toggle-button icon icon-list" alt="Drawer" onClick="if ( $( '#main-menu' ).is( ':hidden' ) ) { $( '#main-menu' ).slideDown(); } else { $( '#main-menu' ).slideUp();}"></a>

</div>
<section id="cloud-status" class="cloud-status">
	<img id="cloud-status-img"></img>
	<span id="cloud-status-text"></span>
</section>
<nav id="main-menu" class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="main-menu-inner">
	<div class="container">
		<ul class="menu dropdown">
            <li class="menu-item">
        		<a class="topMenu" href="../index.html" onClick="window.location.href = '../index.html';" target="_blank">Home</a>
            </li>
            <!--<li class="menu-item">
                <a href="#">Modules</a>
                <ul class="sub_menu">
                        <li><a href="../module1" onClick="window.location.href='../module1/'">What is Open Data?</a></li>
                        <li><a href="../module4" onClick="window.location.href='../module4/'">Why do we need to license?</a></li>
                </ul>
            </li>
            <li class="menu-item">
            	<a href="#" data-event="toggleDrawer" alt="Drawer">Module Resources</a>
            </li>
            <li class="menu-item">
        		<a href="http://www.dlab.or.tz/engagement" onClick="window.open('http://www.dlab.or.tz/engagement', '_blank');" target="_blank">Engagement</a>
            </li>
            <li class="menu-item">
        		<a href="http://www.dlab.or.tz/management" onClick="window.open('http://www.dlab.or.tz/management', '_blank');" target="_blank">Management</a>
            </li>
            <li class="menu-item">
        		<a href="http://www.dlab.or.tz/events" onClick="window.open('http://www.dlab.or.tz/events', '_blank');" target="_blank">Events</a>
            </li>
            <li class="menu-item">
        		<a href="http://www.dlab.or.tz/forum" onClick="window.open('http://www.dlab.or.tz/forum', '_blank');" target="_blank">Forum</a>
            </li>
            <li class="menu-item">
        		<a href="http://www.dlab.or.tz/contact" onClick="window.open('http://www.dlab.or.tz/contact', '_blank');" target="_blank">Contact</a>
            </li>-->
        </ul>
	</div>
  </div>
</nav>
<script>
	setInterval(function() {
		if ($(window).width() > 760) {
			if ( $( '#main-menu' ).is( ':hidden' ) ) { 
				$('#main-menu').slideDown();
			}
		}
	},1000);
    $.getJSON("course/en/course.json",function(data) {
        resources = data["_resources"];
        $(resources).each(function(i,item) {
            title = item.title;
            subitems = item["_resourcesItems"];
            if (subitems) {
                list = document.createElement('li');
                list.className = 'menu-item';
                list.innerHTML = '<a class="topMenu" href="#">'+title+'</a>';
                sub_menu = document.createElement('ul');
                sub_menu.className = 'sub_menu';
                list.appendChild(sub_menu);
                $(subitems).each(function(i,links) {
                    sublist = document.createElement('li');
                    
                    if (links["_type"] == "link") {
                        link = document.createElement('a');
                        link.href = links["_link"];
                        link.innerHTML = "<h5>" + links.title + "</h5>";
                        if (typeof links.description !== 'undefined') {
                            link.innerHTML += links.description;
                        }
                        sublist.appendChild(link);
                    } else {
                        sublist.innerHTML = "<h5>" + links.title + "</h5>";
                        if (typeof links.description !== 'undefined') {
                            sublist.innerHTML = "<h5>" + links.title + "</h5>" + links.description;
                        }
                    }
                    sub_menu.appendChild(sublist);
                });
                if (subitems.length > 0) {
                    $('.menu').append(list);
                }
            }
        });
        updateListener();
    });
    function updateListener() {
        $("ul.dropdown li").hover(function(){
            $(this).addClass("hover");
            $('ul:first',this).css('visibility', 'visible');
        }, function(){
            $(this).removeClass("hover");
            $('ul:first',this).css('visibility', 'hidden');
        });
        $("ul.dropdown li ul li:has(ul)").find("a:first").append(" &raquo; ");
    }
    updateListener();
    
</script>