// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

//colour variables
// @odi-color-one: Light blue
// @odi-color-two: yellow
// @odi-color-three: dark orange
// @odi-color-four: dark green
// @odi-color-five: purple
// @odi-color-six: dark blue
// @odi-color-seven: red
// @odi-color-eight: pink
// @odi-color-nine: magenta
// @odi-color-ten: light green

a {
   color: purple;
}
.header .article-inner {
	padding-top: 0px;
	background: none;
}
.b-70 {
    background-color: @odi-color-seven;
}






