// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

//colour variables
// @odi-color-one: Light blue
// @odi-color-two: yellow
// @odi-color-three: dark orange
// @odi-color-four: dark green
// @odi-color-five: purple
// @odi-color-six: dark blue
// @odi-color-seven: red
// @odi-color-eight: pink
// @odi-color-nine: magenta
// @odi-color-ten: light green

a {
   color: purple;
}
.header .article-inner {
	padding-top: 0px;
	background: none;
}
.b-20 {
    background: @odi-color-three;
}
.b-35 {
    background: @odi-color-six;
}
.b-35 .block-inner {
    padding: 30px 100px;
}
.b-35 .text-inner {
    padding-top: 70px;
}
.c-25 {
    width: 30%;
}
.c-26 {
    width: 70%;
}
.b-50 {
    background-color: @odi-color-six;
}
.b-65 {
    background-color: @odi-color-seven;
}
.b-65 .block-inner {
    padding: 30px 100px;
}
.b-65 .text-inner {
    padding-top: 70px;
}
.c-65 {
    width: 30%;
}
.c-66 {
    width: 70%;
}
.b-80 {
    background-color: @odi-color-seven;
}
.b-85 .block-inner {
    padding: 30px 100px;
}
.b-85 .text-inner {
    padding-top: 70px;
}
.c-85 {
    width: 30%;
}
.c-86 {
    width: 70%;
}
.b-90 {
    background-color: @odi-color-four;
}





