// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

.b-05 {
    background: @odi-color-one;
    .course_link {
		border: 1px solid white;
		background-color: white;
	}
}
.b-10 {
    .course_link {
		border: 1px solid @odi-color-seven;
		background-color: @odi-color-seven;
	}
}
.b-20 {
    background: @odi-color-two;
    .course_link {
		border: 1px solid white;
		background-color: white;
	}
}
.timetable {
	width: 100%;
	text-align: center;
}
.timetable tr {
	border-top: 1px solid gray;
}
.timetable td {
	padding-top: 16px;
	padding-bottom: 16px;
}
.timetable th {
	padding-top: 16px;
	padding-bottom: 16px;
}