// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

//colour variables
// @odi-color-one: TZ green
// @odi-color-two: TZ blue
// @odi-color-three: TZ yellow
// @odi-color-four: TZ black
// @odi-color-five: purple
// @odi-color-six: dark blue
// @odi-color-seven: red
// @odi-color-eight: pink
// @odi-color-nine: magenta
// @odi-color-ten: light green

.b-20 {
	background-color: #222;
}
.b-30 {
	background-color: @odi-color-two;
}
.b-50 {
	background-color: @odi-color-two;
}
.b-55 {
	.accordion-component .accordion-item-title {
		background-color: @odi-color-two;	
	}
}
.b-60 {
	background-color: @odi-color-three;
}
.b-70 {
	background-color: @odi-color-one;
}
.b-75 {
	.narrative-component.desktop .narrative-slide-container {
		float: right;
		margin-top: 30px;
		@media all and (max-width:(@device-width-medium - 1px)) {
        	margin-top: 5px;
        }
    }
    .narrative-component .narrative-content-inner {
       	padding: 0px;
    }
    .narrative-component .narrative-content {
    	background: none;
    	color: inherit;
    }
}
.b-80 {
	background-color: @odi-color-one;
	.narrative-component.desktop .narrative-slide-container {
		float: left;
		margin-top: 30px;
		@media all and (max-width:(@device-width-medium - 1px)) {
        	margin-top: 5px;
        }
    }
    .narrative-component .narrative-content-inner {
     	padding: 0px;
    }
    .block.inverted .narrative-component .narrative-content {
    	background: none;
    	color: inherit;
    }
    .narrative-component .narrative-content {
    	background: none;
    	color: inherit;
    }
}
.b-90 {
	background-color: @odi-color-one;
}
.b-100 {
	background-color: @odi-color-one;
}