// Custom styling
// =====================

.mejs-overlay-button {
    background: url(assets/play.png) no-repeat;
}

// Custom class to be added to blocks
// ==================================

//colour variables
// @odi-color-one: Purple
// @odi-color-two: Grey
// @odi-color-three: Dark Blue
// @odi-color-four: Light Blue
// @odi-color-five: Sea Green
// @odi-color-six: Dark Purple
// @odi-color-seven: Light Green
// @odi-color-eight: Primrose
// @odi-color-nine: Pink
// @odi-color-ten: Orange

.b-2 {
    background-color: @odi-color-one;
}
.b-4 {
    background-color: @odi-color-one;
}
.b-5 {
    .accordion-component .accordion-item-title {
        background-color: @odi-color-one;
    }
}
.b-6 {
    background-color: @odi-color-one;
}
.b-8 {
    background-color: @odi-color-five;
}
.b-9 {
    .accordion-component .accordion-item-title {
        background-color: @odi-color-five;
    }
}
.b-10 {
    background-color: @odi-color-five;
}
.b-12 {
    background-color: @odi-color-three;
}
.b-14 {
    background-color: @odi-color-one;
}
.b-16 {
    background-color: @odi-color-one;
}
.b-18 {
    background-color: @odi-color-one;
}
